body 
{
	font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.5;
	color: #333333;
	}

h1, h2, h3 
{
	font-weight: 700;
	color: black;
}

b
{
	font-weight: 700;
}

p 
{
	margin: 2em 0 2em 0;
}

/* FULL SIZE */

/* SECTIONS */

#header {
	background-image: url("images/headerimage.jpg");
	height: 600px;
	width: 100%;
	background-size: cover;
}

#intro { 
background-color: #EDB999;
 }

.card { 
	width: 100%;
	height: auto;
	background-color: blue;
	color: #fff;
}

#full-image {
	background-image: url("images/full-image.jpg");
	height: 600px;
	width: 100%;
	background-size: cover;
}




@media screen and (min-width: 40em) {
	
	.outer-wrapper {
		display: flex;
		flex-direction: column;
	}
		
	#intro {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.card { flex: 0 1 calc(50% - 5em); margin: 0 auto; margin-bottom: 7em; margin-top: 7em; }
		
	.h-centred { display: flex; justify-content: center; align-items: center;}
	
}
